<!-- SECTION HERO -->
<section class="container-fluid overflow-hidden bg-hero">
    <div class="container pt-lg-3" style="min-height: 100vh;">
    <div class="row flex-lg-nowrap">
        <div class="col-md-6 text-center text-lg-start pt-5 mt-xl-4">
            <h1 class="display-4 pt-5 pb-2 pb-lg-3 mt-sm-2 mt-lg-5 text-light">
                Footy Coach 23
            </h1>
            <p class="fs-lg mb-4 mb-lg-5 text-light">
                The AFL Management Game of 2023
            </p>
            <a href="/login" type="button" class="btn btn-primary">Get Started</a>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
                <img src="../public/img/teams.png" class="img-fluid shadow-lg rounded border border-dark" alt="Layer">
            </div>
        </div>
    </div>
</div>
</section>