<!-- SECTION HERO -->
<div class="bg-main">
    <div class="container h-100-vh bg-main fade-ani">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="d-flex justify-content-center align-items-center" style="min-height: 75vh;">
                    <span>
                        <h1 class="header-main-text col-second">Betting With
                            Friends</h1>
                        <h2 class="header-sub-text">Made easy, simple and free!</h2>
                        <button type="button" class="btn hero-btn mt-3" onclick="redirect('/login')">Get
                            Started!</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh">
                    <img src="../public/assets/images/1myphone2.png" class="hero-img">
                </div>
            </div>
        </div>
    </div>
</div>