<!-- SECTION HERO -->
<section class="container-fluid overflow-hidden">
    <div class="container pt-lg-3" style="min-height: 100vh;">
    <div class="row flex-lg-nowrap">
        <div class="col-lg-6 col-xl-5 text-center text-lg-start pt-5 mt-xl-4">
            <h1 class="display-4 pt-5 pb-2 pb-lg-3 mt-sm-2 mt-lg-5">
                Footy Coach 23
            </h1>
            <p class="fs-lg mb-4 mb-lg-5">
                The AFL Management Game of 2023
            </p>
            <a href="/join" type="button" class="btn btn-primary">Get Started</a>
        </div>
        <div class="parallax mt-4 ms-4 me-lg-0 ms-lg-n5 ms-xl-n3 mt-lg-n4"
            style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
            <div class="parallax-layer" data-depth="0.1"
                style="transform: translate3d(-12.8px, 6.3px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                <img src="../public/img/layer01.png" width="1416" alt="Layer">
            </div>
        </div>
    </div>
</div>
</section>