<!-- SECTION HERO -->
<section class="container-fluid overflow-hidden bg-hero">
    <div class="container pt-lg-3" style="min-height: 100vh;">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <form action="/api/v1/auth" method="POST" class="login-form shadow p-3">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" name="username">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
</section>